
    <style type="text/css">
        li{font-size: 20px;margin-left:0px;}
        ul{font-size: 30px;}
    </style>

<section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion='{  }'>
    <dl class="am-accordion-item am-active" ng-repeat=" num in [1,2,3,4,5,6,7,8,9,10]" >
        <dt class="am-accordion-title" >
            <img src="1.jpg"/>28码计划员{{num}}号<button ng-click="showItem(num);">点击</button>
        </dt>
        <dd class="am-accordion-bd am-collapse am-in">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                28码计划员1号:童童‖4444444444444444444<br>12-27 CQ 二期 后二单式计划方案<br>024-025期 后二单式56注 025期 073 中<br>026-027期 后二单式56注 027期 920 中<br>028-029期 后二单式58注 计划进行期数：[2]<br><br>00 01 03 04 05 06 07 08 09 10 13 15 19 23 25 29 30 31 32 33 34 35 36 37 38 40 43 45 49 50 51 52 53 54 55 56 58 59 60 63 65 69 70 73 79 80 83 85 89 90 91 92 94 95 96 97 98 99<br><br>##########################<br>全天不清除连错记录-看公告里跟号指导。注意：某计划员停发时，不要衔接其他计划员继续倍投！当天状态不佳时，请停止参考理性止损。万一遇到3连挂，我们会及时为您停而止损.<br>                        28码全体员工谢谢您的支持<br>        （23.50-0.30安排第二天计划，期间别跟）<br><br>共2个计划,错误0个,正确率100%<br>最大连对2个,最小连对2个,当前连对2个,最大连错0个,最小连错0个,当前连错0个<br><br>
            </div>
        </dd>
    </dl>
</section>